@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Onest&family=PT+Serif:wght@700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Body */
.loan-calculator {
    font-family: "Roboto", sans-serif;
    width: 800px;
    margin: 24px auto;
    background-color: #e1e1e1;
    border-radius: 8px;
    color: #14213d;
    box-shadow: rgba(0, 0, 0, 0.644) 4px 4px 9px;

}

.loan-calculator,
.loan-calculator * {
    box-sizing: border-box;
}

.loan-calculator .top {
    background-color: #e1e1e1;
    color: #fff;
    padding: 32px;
}

.loan-calculator .top h2 {
    margin-top: 0;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-family: 'Kanit', sans-serif;
}

.loan-calculator form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.loan-calculator .group {
    flex-basis: 48%;
    /* Adjust as needed to fit two elements per row */
}

.loan-calculator form input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.loan-calculator form input[type="number"]:focus {
    border-color: #326765;
}

.myBtn {
    width: 93%;
    height: 77px;
    border: 1px solid;
    border-radius: 8px;
    margin: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease all;
}

.controlButtons {
    margin: 5px;
    transition: 0.5s ease all;
}

.loan-calculator .title {
    margin-bottom: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    overflow-x: hidden;
}

.loan-calculator form input {
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

input:focus {
    outline: 1px solid black;
    border-color: #326765;
}

.loan-calculator .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    height: 70%;
}

.loan-calculator .result .left {
    width: 70%;
    padding: 8px 32px;
    margin-top: 40px;
}

.loan-calculator .left h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 14px;
}

.loan-calculator .result .value {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(20, 33, 61, 0.2);
}

.loan-calculator .result .value::before {
    content: "\20B9";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
}

.loan-calculator .calculate-btn {
    background-color: #4f4c5e;
    color: #fff;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 24px 0;
}

.calculate-btn:hover {
    background-color: #176B87;
}

.resetBtn {
    background-color: #4f4c5e;
    color: #fff;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.resetBtn:hover {
    background-color: #176B87;
}

.loan-calculator .right {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

@media(max-width: 488px) {
    .loan-calculator {
        width: 90%;
        max-width: 500px;
    }

    .loan-calculator form {
        flex-direction: column;
        gap: 10px;
    }

    .loan-calculator .result {
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width: 650px) {
    .group {
        font-size: 5px;
    }

    h3 {
        font-size: 15px;
    }

    .value {
        font-size: 18px;
    }

    .loan-calculator {
        width: 90%;
        max-width: 500px;
    }

    .loan-calculator form {
        /* flex-direction: column; */
        gap: 10px;
    }

    .loan-calculator .result {
        /* flex-direction: column; */
        text-align: center;
    }

    .title {
        overflow-x: hidden;
    }
}



@media (max-width: 768px) {

    /* Add tablet-specific CSS here, if needed */
    .loan-calculator {
        width: 90%;
        max-width: 90%;

    }

    .loan-calculator form {
        /* flex-direction: column; */
        gap: 10px;
    }

    .loan-calculator .result {
        /* flex-direction: column; */
        text-align: center;
    }
}

@media (max-width: 360px) {
    .myBtn {
        flex-direction: column;
        align-items: center;
    }
}